In [1]:
import pandas as pd
import os

In [2]:
import os
for dirname, _, filenames in os.walk('./input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./input/CurrentPopulationSurvey.zip
./input/PanelStudyIncomeDynamics.zip

In [3]:
PSID_df = pd.read_csv("./input/PanelStudyIncomeDynamics.zip", sep=",")
CPS_df = pd.read_csv("./input/CurrentPopulationSurvey.zip", sep=",")

In [4]:
PSID_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33398 entries, 0 to 33397
Columns: 274 entries, intnum68 to LEHS
dtypes: float64(121), int64(152), object(1)
memory usage: 69.8+ MB

In [5]:
PSID_df.describe()

,intnum68,pernum68,wave,sex,intnum,farminc,region,famwgt,relhead,age,...,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,sumocc,LEHS
count,33398.000000,33398.000000,33398.000000,33398.000000,33398.000000,33398.000000,33395.000000,33398.000000,33398.000000,33398.000000,...,33398.000000,33398.000000,33398.000000,33398.000000,33398.000000,33398.000000,33398.000000,33398.000000,33398.0,33398.000000
mean,2942.203964,75.144260,2000.293221,1.513863,3935.475058,104.879544,2.592155,18.593345,13.499132,40.467872,...,0.056620,0.034403,0.079616,0.163363,0.005659,0.080544,0.097880,0.071771,1.0,0.715103
std,2198.106202,81.071224,10.536950,0.499815,2267.144304,2662.001098,0.929496,14.428494,4.835112,10.401476,...,0.231119,0.182265,0.270701,0.369702,0.075014,0.272137,0.297157,0.258112,0.0,0.451372
min,4.000000,1.000000,1981.000000,1.000000,1.000000,-5000.000000,1.000000,0.000000,10.000000,25.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
25%,1152.000000,4.000000,1990.000000,1.000000,2034.000000,0.000000,2.000000,5.209500,10.000000,31.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
50%,2210.000000,30.000000,2007.000000,2.000000,3854.500000,0.000000,3.000000,17.184999,10.000000,39.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000
75%,5464.000000,172.000000,2009.000000,2.000000,5732.750000,0.000000,3.000000,27.212249,20.000000,49.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000
max,6872.000000,262.000000,2011.000000,2.000000,8940.000000,200000.000000,4.000000,167.679001,22.000000,64.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000

In [6]:
CPS_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344287 entries, 0 to 344286
Columns: 234 entries, year to LEHS
dtypes: float64(85), int64(146), object(3)
memory usage: 614.6+ MB

In [7]:
CPS_df.describe()

,year,serial,numprec,hwtsupp,gq,region,statefip,metro,metarea,county,...,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,sumadj_occ,LEHS
count,344287.000000,344287.000000,344287.000000,344287.000000,344287.0,344287.000000,344287.000000,334528.000000,240348.000000,108860.000000,...,344287.000000,344287.000000,344287.000000,344287.000000,344287.000000,344287.000000,344287.000000,344287.000000,344287.0,344287.000000
mean,2002.599122,44774.129758,3.225141,1507.300236,1.0,27.752070,28.121004,2.500699,4561.044178,23730.353693,...,0.060545,0.035581,0.088057,0.147072,0.006855,0.088818,0.086358,0.061800,1.0,0.676526
std,10.831555,26722.907094,1.508176,907.232381,0.0,10.809778,15.818556,0.992346,2525.176002,15834.222347,...,0.238495,0.185243,0.283379,0.354178,0.082509,0.284482,0.280893,0.240793,0.0,0.467803
min,1981.000000,1.000000,1.000000,0.000000,1.0,11.000000,1.000000,1.000000,80.000000,1003.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
25%,1990.000000,21980.000000,2.000000,818.505005,1.0,21.000000,13.000000,2.000000,2083.000000,8059.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
50%,2007.000000,43297.000000,3.000000,1473.829956,1.0,31.000000,28.000000,3.000000,4881.000000,22019.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000
75%,2011.000000,66479.000000,4.000000,1935.989990,1.0,41.000000,41.000000,3.000000,6483.000000,36103.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.000000
max,2013.000000,98095.000000,16.000000,13310.929688,1.0,42.000000,56.000000,4.000000,9360.000000,55139.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000

In [9]:
CPS_df.year.value_counts()

2007    56467
2009    55617
2011    53857
2013    53790
1990    45033
1981    42379
1999    37144
Name: year, dtype: int64